<!DOCTYPE html>
<html th:lang="${#locale.language}" th:dir="#{language.direction}" th:data-language="${#locale.toString()}" xmlns:th="https://www.thymeleaf.org">
<head lang="en">
    <th:block th:insert="~{fragments/common :: head(title=#{create-pdf.title}, header=#{create-pdf.header})}"></th:block>
    <meta charset="UTF-8"/>
    <title>Pdf Creator</title>
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script type="module" crossorigin th:src="@{/pdfme/assets/index-1f21fbf6.js}"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/pdfme/assets/index-5265c558.css}">
    <style th:inline="css" type="text/css" media="screen, print">
        @font-face {
            font-family: "NotoSansJP-Regular";
            font-weight: normal;
            src: url("/fonts/NotoSansJP-Regular.otf");
        }
    </style>
</head>
<body>
<div id="page-container">
    <div id="content-wrap">
        <th:block th:insert="~{fragments/navbar.html :: navbar}"></th:block>
        <br><br>
        <div class="container">
            <!-- Entry point to our ReactJS single page web application -->
            <div id="root"></div>
        </div>
    </div>
</div>



</body>
</html>